DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ilknurwebsite?schema=public"
ADMIN_EMAIL="admin@ilknursoydan.com"
ADMIN_PASSWORD="123321"
AUTH_SECRET="en-az-32-karakterlik-rastgele-bir-deger"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
